<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        p, ul{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1 align="center">INTRODUCTION</h1>
    <p align="justify">Our topic represents a important role to address this challenge by integrating advanced machine learning algorithms into a  fraud transaction detection system.
        Throughout this topic, we will unveil the Fraud Transaction Detection System, how these algorithms are used in the project  Support Vector Machines (SVM), Random Forest, and Logistic Regression are the backbone of our detection mechanism. 
        These algorithms have been meticulously selected and optimized to effectively discern fraudulent patterns and vast transactional data, thereby enhancing the security and trustworthiness of financial transactions.
        </p>
    <h1 align="center">ALGORITHMS</h1>
    <ol type="I">
        <li>LOGISITIC REGRESSION</li>
        <li>RANDOM FOREST</li>
        <li>SVM(Support Vector Machine)</li>
    </ol>
    <h3>Logistic Regression</h3>
    <ul>
        <li align="justify"><b>Logistic Regression:</b> Logistic Regression is a statistical method used for binary classification. It predicts the probability of an event occurring based on input features. 
        </li>
        <li>Logistic Regression, is a formidable tool for binary classification tasks, making it indispensable in our Fraud Transaction Detection System. </li>
        <li>By fitting a logistic curve to the data, Logistic Regression quantifies the likelihood of fraud occurrence, aiding in informed decision-making processes.
        </li>
    </ul>
    <h4>Advantages:</h4>
    <ul>
        <li>Simple and facilitating easy understanding of the model's predictions.</li>
        <li>Efficient with computational resources, making it suitable for real-time fraud detection applications.</li>
    </ul>
    <h3>Random Forest</h3>
    <ul>
        <li><b>Random Forest:</b> Random Forest is a learning method that constructs multiple decision trees during training. </li>
        <li>Its inclusion in our Fraud Transaction Detection System adds a layer of robustness and accuracy.</li>
        <li>By aggregating predictions from numerous decision trees, Random Forest mitigates overfitting and enhances generalization performance.</li>
    </ul>
    <h4>Advantages:</h4>
    <ul>
        <li>Capable of handling large datasets with high dimensionality and diverse features.</li>
        <li>Provides feature importance rankings, aiding in the identification of critical fraud indicators.</li>
    </ul>
    <h3>SVM(Support Vector Machine)</h3>
    <ul>
        <li><b>SVM:</b> Support Vector Machine (SVM) is a powerful machine learning algorithm widely used for fraud detection, including credit card fraud.</li>
        <li>Support Vector Machine, renowned for its classification tasks, assumes a pivotal role in our Fraud Transaction Detection System. </li>
        <li>Its advantage lies in its ability to delineate a hyperplane that optimally segregates fraudulent transactions from legitimate ones.</li>
    </ul>
    <h4>Advantages: </h4>
    <ul>
        <li>Effective in high-dimensional spaces, making it suitable for complex transactional data analysis.</li>
        <li>Capable of handling non-linear relationships between features through the use of kernel functions. </li>
    </ul>
</body>
</html>